@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

*{
    font-family: "Poppins", sans-serif;
}
::-webkit-scrollbar{
  display:none;
}

@theme{
  /* --color-primary: #111828;  172030*/ 
  --color-primary: #111828;
  --color-secondary: #172030;
  --color-button:#ff8804;
  --color-colortext:#ff8804;
}
.outline-text {
  color: transparent;
  -webkit-text-stroke: 1px #ff8804; /* outline with white color */
}
.outline-text-gray {
  color: transparent;
  -webkit-text-stroke: 1px rgb(109, 106, 106); /* outline with white color */
}
